<h1>Departments</h1>
<%= link_to 'Add a Department', new_department_path %>
<hr />
<h3>Departments</h3>
<ul>
  <% @departments.each do |dep| %>
    <li><%= link_to dep.department_name, department_path(dep) %></li>
  <% end %>
</ul>